/*
{{ name }} for highlight.js
instructions from https://highlightjs.readthedocs.io/en/latest/style-guide.html
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #{{ bg_0 }};
}

.hljs-keyword,
.hljs-selector-tag {
  color: #{{ keyword.color }};
  font-weight: #{{ keyword.style }};
}
