{
	"name": "{{ name }} {{ version }}",
	"type": "dark",
	"colors": {
		"editor.background":                   "#{{ bg_0 }}",
		"editor.foreground":                   "#{{ fg_0 }}",
		"editorCursor.foreground":             "#{{ fg_0 }}",
		"editorLineNumber.foreground":         "#{{ dim_0 }}",
		"editorLineNumber.activeForeground":   "#{{ fg_0 }}",
		"editorIndentGuide.background":        "#{{ bg_3 }}",
		"editorIndentGuide.activeBackground":  "#{{ dim_0 }}",
		"editor.selectionBackground":          "#{{ bg_3 }}",
		"editor.inactiveSelectionBackground":  "#{{ bg_1 }}",
		"editor.selectionHighlightBackground": "#{{ bg_0 }}",
		"editor.selectionHighlightBorder":     "#{{ bg_3 }}"
	},
	"tokenColors": [
		{
			"scope": "comment",
			"settings": {
				{{ comment.vscode }}
			}
		},
		{
			"scope": "string",
			"settings": {
				{{ string.vscode }}
			}
		},
		{
			"name": "docstrings and other multiline strings",
			"scope": [
				"string.unquoted",
				"string.quoted.docstring.multi"
			],
			"settings": {
				{{ doc_comment.vscode }}
			}
		},
		{
			"name": "special elements in doc comments",
			"scope": "storage.type.class.jsdoc",
			"settings": {
				{{ doc_special.vscode }}
			}
		},
		{
			"name": "string interpolation",
			"scope": [
				"string.constant.character.escape",
				"constant.character.format",
				"constant.character.escape",
				"punctuation.section.embedded",
				"punctuation.definition.template-expression.begin",
				"punctuation.definition.template-expression.end",
				"storage.type.string"
			],
			"settings": {
				{{ str_special.vscode }}
			}
		},
		{
			"scope": "constant",
			"settings": {
				"fontStyle": "normal",
				"foreground": "#{{ fg_0 }}"
			}
		},
		{
			"scope": "constant.numeric",
			"settings": {
				{{ number.vscode }}
			}
		},
		{
			"scope": "constant.language",
			"settings": {
				"fontStyle": "italic",
				"foreground": "#{{ fg_0 }}"
			}
		},
		{
			"name": "keywords (including function and class defs)",
			"scope": [
				"keyword.control",
				"storage.type.function",
				"storage.type.class"
			],
			"settings": {
				{{ keyword.vscode }}
			}
		},
		{
			"name": "imports",
			"scope": [
				"keyword.control.import",
				"keyword.other.import"
			],
			"settings": {
				{{ keyword.vscode }}
			}
		},
		{
			"scope": "keyword.operator",
			"settings": {
				"fontStyle": "bold",
				"foreground": "#{{ fg_0 }}"
			}
		},
		{
			"name": "types and type modifiers",
			"scope": "storage",
			"settings": {
				{{ type.vscode }}
			}
		},
		{
			"name": "const, final, abstract etc.",
			"scope": "storage.modifier",
			"settings": {
				"fontStyle": "bold italic",
				"foreground": "#{{ dim_0 }}"
			}
		},
		{
			"name": "reserved variables like this, super, self",
			"scope": "variable.language",
			"settings": {
				{{ special_var.vscode }}
			}
		},
		{
			"name": "built-ins, things from library/framework",
			"scope": "support",
			"settings": {
				{{ built_in.vscode }}
			}
		},
		{
			"scope": "support.type.exception",
			"settings": {
				{{ exception.vscode }}
			}
		},
		{
			"scope": "entity.name.function.decorator",
			"settings": {
				{{ decorator.vscode }}
			}
		},
		{
			"name": "Name of the defined class",
			"scope": [
				"entity.name.class",
				"entity.name.type.class"
			],
			"settings": {
				{{ class_def.vscode }}
			}
		},
		{
			"name": "Name of the defined entity",
			"scope": "entity.name",
			"settings": {
				{{ function_def.vscode }}
			}
		},
		{
			"scope": "meta.function-call",
			"settings": {
				{{ function_call.vscode }}
			}
		},
		{
			"name": "ordinary variables (should by default use basic styling)",
			"scope": "variable",
			"settings": {
				"foreground": "#{{ fg_0 }}"
			}
		},
		{
			"scope": "variable.parameter",
			"settings": {
				{{ parameter.vscode }}
			}
		},
		{
			"name": "Almost every variable in JS is in this scope",
			"scope": "variable.other",
			"settings": {
				"foreground": "#{{ fg_0 }}"
			}
		},
		{
			"name": "dots, parens etc. (token separators)",
			"scope": [
				"punctuation.definition.block",
				"punctuation.definition.parameters",
				"punctuation.definition.arguments",
				"punctuation.definition.list",
				"punctuation.definition.dict",
				"punctuation.definition.binding-pattern",
				"punctuation.section.block",
				"punctuation.section.function",
				"punctuation.section.method",
				"punctuation.section.class",
				"punctuation.section.array",
				"punctuation.separator",
				"punctuation.accessor"
			],
			"settings": {
				{{ punctuation.vscode }}
			}
		}
	]
}
