{
	"name": "{{ name }} {{ version }}",
	"type": "dark",
	"colors": {
		"editor.background":                   "#{{ bg_0 }}",
		"editor.foreground":                   "#{{ fg_0 }}",
		"editorCursor.foreground":             "#{{ fg_0 }}",
		"editorLineNumber.foreground":         "#{{ dim_0 }}",
		"editorLineNumber.activeForeground":   "#{{ fg_0 }}",
		"editorIndentGuide.background":        "#{{ bg_3 }}",
		"editorIndentGuide.activeBackground":  "#{{ dim_0 }}",
		"editor.selectionBackground":          "#{{ bg_3 }}",
		"editor.inactiveSelectionBackground":  "#{{ bg_1 }}",
		"editor.selectionHighlightBackground": "#{{ bg_0 }}",
		"editor.selectionHighlightBorder":     "#{{ bg_3 }}"
	},
	"tokenColors": [
		{
			"scope": "comment",
			"settings": {
				{{ comment.vscode }}
			}
		},
		{
			"scope": "string",
			"settings": {
				{{ string.vscode }}
			}
		},
		{
			"scope": "string.quoted.docstring",
			"settings": {
				{{ doc_comment.vscode }}
			}
		},
		{
			"name": "special elements in doc comments",
			"scope": "storage.type.class.jsdoc",
			"settings": {
				{{ doc_special.vscode }}
			}
		},
		{
			"name": "string interpolation and escaping",
			"scope": [
				"string.constant.character.escape",
				"constant.character.format",
				"constant.character.escape",
				"punctuation.section.embedded",
				"punctuation.definition.template-expression.begin",
				"punctuation.definition.template-expression.end"
			],
			"settings": {
				{{ str_special.vscode }}
			}
		},
		{
			"scope": "constant",
			"settings": {
				{{ constant.vscode }}
			}
		},
		{
			"scope": "constant.numeric",
			"settings": {
				{{ number.vscode }}
			}
		},
		{
			"scope": "constant.language",
			"settings": {
				{{ boolean.vscode }}
			}
		},
		{
			"name": "keywords (including function and class defs)",
			"scope": [
				"keyword.control",
				"storage.type.function",
				"storage.type.class"
			],
			"settings": {
				{{ keyword.vscode }}
			}
		},
		{
			"name": "imports",
			"scope": [
				"keyword.control.import",
				"keyword.other.import"
			],
			"settings": {
				{{ import.vscode }}
			}
		},
		{
			"scope": "keyword.operator",
			"settings": {
				{{ operator.vscode }}
			}
		},
		{
			"name": "types and type modifiers",
			"scope": "storage",
			"settings": {
				{{ type.vscode }}
			}
		},
		{
			"name": "keyword argument name in function call",
			"scope": "variable.parameter.function-call",
			"settings": {
				{{ keyword_arg.vscode }}
			}
		},
		{
			"name": "reserved variables like this, super, self",
			"scope": "variable.language",
			"settings": {
				{{ special_var.vscode }}
			}
		},
		{
			"name": "built-ins, things from library/framework",
			"scope": "support",
			"settings": {
				{{ built_in.vscode }}
			}
		},
		{
			"scope": "support.type.exception",
			"settings": {
				{{ exception.vscode }}
			}
		},
		{
			"scope": "entity.name.function.decorator",
			"settings": {
				{{ decorator.vscode }}
			}
		},
		{
			"name": "Name of the defined class",
			"scope": [
				"entity.name.class",
				"entity.name.type.class"
			],
			"settings": {
				{{ class_def.vscode }}
			}
		},
		{
			"name": "Name of the defined function",
			"scope": [
				"entity.name.function",
				"entity.name.function.declaration"
			],
			"settings": {
				{{ function_def.vscode }}
			}
		},
		{
			"name": "function calls (works only for some languages)",
			"scope": "meta.function-call.generic",
			"settings": {
				{{ function_call.vscode }}
			}
		},
		{
			"name": "function calls and defs use the same scope in JS",
			"scope": "entity.name.function.js",
			"settings": {
				{{ function.vscode }}
			}
		},
		{
			"name": "ordinary variables (should by default use basic styling)",
			"scope": "variable",
			"settings": {
				"foreground": "#{{ fg_0 }}"
			}
		},
		{
			"scope": "variable.parameter",
			"settings": {
				{{ parameter.vscode }}
			}
		},
		{
			"name": "dots, parens etc. (token separators)",
			"scope": [
				"punctuation.definition.block",
				"punctuation.definition.parameters",
				"punctuation.definition.arguments",
				"punctuation.definition.list",
				"punctuation.definition.dict",
				"punctuation.definition.binding-pattern",
				"punctuation.section.block",
				"punctuation.section.function",
				"punctuation.section.method",
				"punctuation.section.class",
				"punctuation.section.array",
				"punctuation.separator",
				"punctuation.accessor"
			],
			"settings": {
				{{ punctuation.vscode }}
			}
		}
	]
}
